.container-input {
  display: flex;
  flex-direction: column;
}

.input-component {
  border: 2px solid #d9d9d9;
  background-color: #fff;
  border-radius: 8px;
  height: 56px;
  font-size: 20px;
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  &::placeholder {
    color: #cfcfcf;
    font-size: 1.25rem;
  }
  &.input-error {
    border-color: #a8071a;
  }
}

.input-label {
  font-size: 20px;
  color: #4b4b4b;
  font-family: Inter, sans-serif;
  span {
    color: #a8071a;
  }
  @media (max-width: 768px) {
    min-width: 300px;
    font-size: 1rem;
  }
}

.input-error-message {
  color: #a8071a;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
