.mobile-menu {
  width: 260px;
  position: fixed;
}

.menu-root {
  &__button {
    margin-bottom: 1rem;
    border: none;
    padding: 0 !important;
    height: 3.5rem !important;
    color: #182558;
    border-color: #182558;
    top: 20px;
    left: 20px;
    box-shadow: none;
    svg {
      font-size: 20px;
    }
  }
}

.ant-btn {
  &:focus-visible {
    outline: none !important;
  }
}

.ant-menu-inline-collapsed {
  width: 0 !important;
}

.ant-menu-vertical {
  border: none !important;
}

.ant-menu-light {
  margin-top: 80px;
}
